/* Error: Undefined mixin.
 *    ,
 * 13 | /     @include abstracts.breakpoint(lg) {
 * 14 | |         box-shadow: 0 20px 60px 10px var(--header-shadow-color);
 * 15 | \     }
 *    '
 *   scss\layout\_header.scss 13:5  @forward
 *   scss\layout\_index.scss 1:1    @use
 *   scss\main.scss 4:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 13 \2502  \250c      @include abstracts.breakpoint(lg) {\a 14 \2502  \2502          box-shadow: 0 20px 60px 10px var(--header-shadow-color);\a 15 \2502  \2514      }\a    \2575 \a   scss\\layout\\_header.scss 13:5  @forward\a   scss\\layout\\_index.scss 1:1    @use\a   scss\\main.scss 4:1             root stylesheet";
}
