@use "../abstracts";

//*** Các biến dành cho giao diện tối
html.dark {
    // khai báo các biến để dùng chung cho những nơi khác cần dùng đến
    --text-color: #ffffff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(345deg) brightness(102%)
        contrast(101%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.breakpoint(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Menu cho dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(16%) sepia(3%) saturate(5132%) hue-rotate(186deg)
        brightness(89%) contrast(83%);

    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(18%) saturate(1022%) hue-rotate(180deg)
        brightness(100%) contrast(97%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);
}
