@use "../abstracts";

// Tạo 1 placeholder chứa các thuộc tính css thường dùng chung cho những nơi khác
// Nơi nào cần dùng đến thì gọi placeholder này
%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);
}

.top-bar {
    // Sử dụng @extend để Gọi Placeholder %flexItemsCenter ở trên để sử dụng
    @extend %flexItemsCenter;
    padding: 30px 0px;

    @include abstracts.breakpoint(lg) {
        padding: 20px 0px;
    }

    @include abstracts.breakpoint(sm) {
        justify-content: space-between;
        padding: 16px 0px;
    }

    &__more {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }
}

.navbar {
    margin-left: 144px;

    @include abstracts.breakpoint(xl) {
        margin-left: 50px;
    }

    @include abstracts.breakpoint(lg) {
        display: none;
    }

    &__list {
        @extend %flexItemsCenter;
        gap: 30px;
    }

    &__link {
        display: flex;
        gap: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__arrow {
        margin-top: 3px;
    }
}

.top-act {
    @extend %flexItemsCenter;
    gap: 20px;
    margin-left: auto;

    @include abstracts.breakpoint(sm) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemsCenter;

        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);

        @include abstracts.breakpoint(md) {
            display: none;
        }
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemsCenter;
        gap: 10px;
        padding: 13px 20px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        display: block;
        cursor: pointer;
    }
}
