// Các nút bấm thì viết hết ở file này để sử dụng cho nhưng nơi khác

// Filter button
.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;

    height: 36px;
    border-radius: 6px;

    color: var(--filter-btn-color);
    padding: 0 14px;
    background: var(--filter-btn-bg);

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%;
}

// Like button hình trái tim
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    box-shadow: 0 20px 60px rgba(124, 124, 124, 0.2);

    // nếu ko có class "like-btn--liked" thì ẩn "trái tim màu đỏ" có class "like-btn__icon--liked" đi
    &:not(&--liked) &__icon--liked {
        display: none;
    }

    // ẩn "trái tim màu đen"
    &--liked &__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 6px;
    }
}

// Buttons
.btn {
    height: 46px;
    padding: 0 20px;
    border-radius: 6px;

    background: #f8f8fb;

    font-size: 1.8rem;
    font-weight: 500;

    user-select: none; // không cho bôi đen, click đúp chữ trong button

    + .btn {
        margin-left: 20px;
    }

    &--text {
        color: #9e9da8;
        background: transparent;
        font-weight: 400;
    }

    &--primary {
        color: #171c28;
        background: #ffb700;
    }

    &--outline {
        background: transparent;
        border: 1px solid #d2d1d6;
    }

    &--rounded {
        border-radius: 99px;
    }

    // [disabled] : selector cho button có thuộc tính disabled

    &[disabled],
    &--disable {
        opacity: 0.5;
        pointer-events: none; // không cho user tương tác vào button
    }

    &:hover {
        opacity: 0.9;
    }
}
