@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    width: min(1240px, 100%);
    // ở "màn hình lớn" sẽ rộng 1240px khi về "màn nhỏ hơn" thì sẽ co lại theo tỉ lệ màn hình hiện tại và luôn đảm bảo chiều rộng là 100% ở màn hình đó

    padding-top: 54px;
    display: none; // ẩn đi để khi hover sẽ hiển thị ra

    &__inner {
        --inner-padding: 30px;

        position: relative;

        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0 40px 90px 20px var(--dropdown-shadow-color);
        padding: var(--inner-padding);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    --main-column-width: 292px;

    position: relative;

    &__main {
        width: var(--main-column-width);
        height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
        // ở màn hình lớn sẽ cao 582px, khi về màn nhỏ hơn thì sẽ luôn nằm trong tỉ lệ chiều cao của màn hình đó khi đã trừ đi 158px

        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    // dấu "cộng" tác động css tới các khối menu-column phía sau nó, phía trước không bị ảnh hưởng
    + .menu-column {
        margin-top: 21px;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include abstracts.breakpoint(xl) {
            display: none;
        }
    }

    &__content {
        flex: 1; // chiếm hết độ rộng còn lại
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;

        width: 24px;
        height: 24px;
        object-fit: contain;

        filter: var(--menu-column-icon-color);
    }

    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__list {
        margin-top: 19px; // 19 + 7 padding bên dưới của thẻ a = 26px
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }

    &__link {
        display: block;
        padding: 7px 0px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}

// Xử lý cho phần menu con cấp 2
.sub-menu {
    position: absolute;
    inset: 0 0 0 var(--main-column-width);

    display: none; // ẩn đi để khi hover sẽ hiển thị ra
    grid-template-columns: repeat(3, 1fr);
    gap: var(--inner-padding);

    padding-left: var(--inner-padding);

    overflow-y: auto; // hiển thị thanh cuộn dọc
}
