.dropdown {
    position: absolute;
    left: 0;
    width: min(1240px, 100%);
    // ở "màn hình lớn" sẽ rộng 1240px khi về "màn nhỏ hơn" thì sẽ co lại theo tỉ lệ màn hình hiện tại và luôn đảm bảo chiều rộng là 100% ở màn hình đó

    padding-top: 54px;
    // display: none;

    &__inner {
        --inner-max-height: min(582px, 100vh - 158px);
        --inner-padding: 30px;

        position: relative;
        max-height: var(--inner-max-height);
        // ở màn hình lớn sẽ cao 582px, khi về màn nhỏ hơn thì sẽ luôn nằm trong tỉ lệ chiều cao của màn hình đó khi đã trừ đi 158px

        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0 40px 90px 20px var(--dropdown-shadow-color);
        padding: var(--inner-padding);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    max-height: calc(var(--inner-max-height) - var(--inner-padding) * 2);

    &__main {
        width: 292px;
        max-height: inherit;

        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;
    }

    &__content {
        flex: 1; // chiếm hết độ rộng còn lại
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;

        width: 24px;
        height: 24px;
        object-fit: cover;

        filter: var(--menu-column-icon-color);
    }

    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__list {
        margin-top: 19px; // 19 + 7 padding bên dưới của thẻ a = 26px
    }

    &__link {
        display: block;
        padding: 7px 0px;
        font-size: 1.4rem;
        line-height: 142.857%;

        &:hover {
            color: #0071dc;
            font-weight: 500;
        }
    }
}
