@use "../abstracts";

.slideshow {
    position: relative;
    margin: 40px 0px;

    &__inner {
        display: flex;
        overflow: hidden;
    }

    &__item {
        position: relative;
        flex-shrink: 0;
        width: 100%;

        padding-top: 34%;
        /*
        padding-top: 34%; : lấy chiều cao / chiều rộng của tấm hình để tạo ra khoảng trống có sẵn dành cho tấm hình
        khi hình ảnh chưa được tải lên kịp thì "khu vực đó luôn đó 1 khoảng trống nhất định" dành cho tấm hình
        để khắc phục tình trạng nội dung bên dưới dồn lên phía trên khi hình chưa được tải xong gây ra hiệu ứng giật
        trang web gây khó chịu cho người dùng.
        kết hợp với thuộc tính position: relative; cho thẻ cha và position: absolute; cho thẻ hình ảnh
        */

        @include abstracts.breakpoint(md) {
            padding-top: 50%;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    &__page {
        --color: #fff;

        position: absolute;
        align-items: center;
        bottom: 15%;
        left: 5.2%;
        width: 12.8%;
        display: flex;

        column-gap: 24px;
    }

    &__num {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: var(--color);

        @include abstracts.breakpoint(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        height: 4px;
        flex-shrink: 0;
        background: var(--color);

        &::before,
        &::after {
            content: "";
            position: absolute;

            // canh giữa cho 2 cục tròn
            top: 50%;

            width: 14px;
            height: 14px;
            border: 4px solid var(--color);
            border-radius: 50%;

            @include abstracts.breakpoint(md) {
                border-width: 3px;
            }
        }

        &::before {
            left: 0;
            translate: -90% -50%;
        }

        &::after {
            right: 0;
            translate: 90% -50%;
        }
    }
}
