/*
File này dùng để tạo ra các class css cho các kích thước màn hình cho thuộc tính css 
*/

$breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);

$display-values: block, flex, grid, none;

@mixin make-display($breakpoint: null) {
    // kiểm tra
    $infix: if($breakpoint, "-#{$breakpoint}", "");

    // Lặp để lấy các giá trị trong mảng $display-values
    @each $display in $display-values {
        .d#{$infix}-#{$display} {
            display: $display !important; // tạo ra thuộc tính css cho display
        }
    }
}

@include make-display();

// Lặp để lấy các giá trị trong mảng $breakpoints
@each $breakpoint, $dimension in $breakpoints {
    @media (max-width: ($dimension - 0.02)) {
        @include make-display($breakpoint);
    }
}
